@page "/products"
@using ProductCatalog.Shared.DTOs
@using YourBlazorApp.Services
@using static System.Net.WebRequestMethods
@inject ApiService ApiService
@inject NavigationManager Navigation

@if (products == null)
{
    <p><em>Loading...</em></p>
}

else
{
    <div class="main-container">
        <div class="product-filter">
            <img src="../Assets/filter.svg" />
            <img src="../Assets/sorting.svg" />
        </div>
        <div class="product-container">
            @foreach (var product in products)
            {
                <NavLink class="product-item" @onclick="() => NavigateToDetails(product.ProductId)">
                    <img class="image-container" src="@product.ImageUrl" alt="@product.Name" />
                    <div class="product-info">
                        <h4>@product.Name</h4>
                        <p>Price: @product.Price kr</p>
                        <p>@(product.IsAvailable ? "Available" : "Out of Stock")</p>
                        @* <button class="btn btn-primary" @onclick="() => NavigateToDetails(product.ProductId)">View Details</button> *@
                    </div>
                </NavLink>
            }
        </div>
    </div>
}

@code {
    private List<ProductDTO> products;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            products = await ApiService.GetProducts();
        }
        catch (Exception ex)
        {
            // Log error or display message
            Console.WriteLine($"Error loading products: {ex.Message}");
        }
    }

    private void NavigateToDetails(int productId)
    {
        Navigation.NavigateTo($"/productdetails/{productId}");
    }
}
