@page "/products"
@using ProductCatalog.Shared.DTOs
@using YourBlazorApp.Services
@using static System.Net.WebRequestMethods
@inject ApiService ApiService

@if (products == null)
{
    <p><em>Loading...</em></p>
}

else
{
    <div class="main-container">
        <div class="product-filter">
            <img src="../Assets/filter.svg" />
            <img src="../Assets/sorting.svg" />
        </div>
        <div class="product-container">
            @foreach (var product in products)
            {
                <div class="product-item">
                    <img class="image-container" src="@product.ImageUrl" alt="@product.Name" />
                    <div class="product-info">
                        <h4>@product.Name</h4>
                        <p>Price: @product.Price</p>
                        <p>@(product.IsAvailable ? "Available" : "Out of Stock")</p>
                    </div>
                </div>
            }
        </div>
    </div>
}

@code {
    private List<ProductDTO> products;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            products = await ApiService.GetProducts();
        }
        catch (Exception ex)
        {
            // Log error or display message
            Console.WriteLine($"Error loading products: {ex.Message}");
        }
    }
}
